{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Back to Scan Log</a>
            <h1 class="text-center flex-grow-1">Workers</h1>
            <a href="{% url 'add_worker' %}" class="btn btn-outline-primary">Add Worker</a>
        </div>

        <!-- Workers Table -->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Card</th>
                            <th>Created at</th>
                            <th>Last Scan Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for worker in workers %}
                            <tr>
                                <td>{{ worker.id }}</td>
                                <td>{{ worker.name }}</td>
                                <td>{{ worker.surname }}</td>
                                <td>[{{ worker.card }}]</td>
                                <td>{{ worker.created_at|date:"Y-m-d" }}</td>
                                <td>{{ worker.scanlog.latest_scan_date|default:"N/A" }}</td>
                                <td>
                                    <div class="button-container">
                                        <a href="{% url 'worker_card' worker.id %}"
                                           class="btn btn-sm btn-outline-primary">Card</a>
                                        <a href="{% url 'delete_worker' worker.id %}"
                                           class="btn btn-sm btn-outline-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
